.graph {
  margin-left: 15px;
  margin-right: 15px;
}
.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
